/*==============================================
[Main stylesheet app.css]

Author:			WM_Team
Version:		1.0
Created:		03 October 2018
Last updated:	06 October 2018
Template:		Silvius - Book Store & Library Mobile Template
================================================*/
/*
[Table of Contents]

01. GENERAL
02. HOMEPAGE
03. HOMEPAGE V1
04. BOOKS
05. BOOK DETAIL
06. CART
07. BOOKSHELF
08. PROFILE
09. READING PAGE
10. COVER
11. PAGES LIST
12. THEME DARK
*/


/*===============================================*/
/* 01. GENERAL	 						    	 */
/*===============================================*/

.md body {
	font-family: 'Montserrat', sans-serif;
	color: #111111;
	font-size: 14px;
}

img {
	display: block;
	max-width: 100%;
}

.border {
	position: relative;
	height: 1px;
}

.border:after {
	content: '';
	position: absolute;
	right: 0;
	width: 100%;
	top: 100%;
	bottom: auto;
	height: 1px;
	background: #efefef;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

h1{
	font-size: 28px;
}

h2{
	font-size: 22px;
}

h3{
	font-size: 20px;
}

h4{
	font-size: 18px;
}

.mt {
	margin-top: 32px!important;
}

.mb {
	margin-bottom: 32px!important;
}

.pt {
	padding-top: 32px!important;
}

.pb {
	padding-bottom: 32px!important;
}

.section-title {
	margin-bottom: 20px;
}

.section-title a {
	font-size: 13px;
	font-weight: 500;
	position: relative;
	top: 2px;
}

.section-title h2 {
	margin: 0px;
}

.section-content p {
	color: #757575;
}

.object-fit {
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: 100%;
}

.md .custom-toolbar {
	background: #f7f7f8;
	border-top: 1px solid #ddd;
}

.md .toolbar-bottom-md.custom-toolbar::after {
	background: transparent;
}

.md .custom-toolbar.toolbar:not(.messagebar) {
    background: #f7f7f8;
	color: #757575;
}

.md .custom-toolbar.tabbar a.tab-link.active-state,
.md .custom-toolbar.tabbar a.tab-link.tab-link-active,
.md .custom-toolbar.tabbar-labels a.tab-link.active-state,
.md .custom-toolbar.tabbar-labels a.tab-link.tab-link-active {
    color: #2196f3;
}

.md .custom-toolbar.tabbar a.tab-link,
.md .custom-toolbar.tabbar-labels a.tab-link {
    color: #757575;
	font-size: 11px;
}

.md .custom-toolbar.tabbar .tab-link-highlight,
.md .custom-toolbar .tabbar-labels .tab-link-highlight{
	height:0px;
	background:transparent;
}
	
.page-with-toolbar {
	padding-bottom: 50px;
}

.back-page i {
	font-size: 30px;
}

.back-page a:last-child {
	position: relative;
	top: 2px;
}

/*===============================================*/
/* 02. HOMEPAGE	 						    	 */
/*===============================================*/

.search-bar {
	position: relative;
}

.search-bar input {
	height: 35px;
	background: #efefef;
	width: 100%;
	padding-left: 40px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 35px;
	font-size: 13px;
}

.search-bar i {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -12px;
	color: #111111;
}

.search-bar.search-bar-transparent input {
	background: #ffffff;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.5);
	color: #757575;
}

.search-bar-with-icon .search-bar {
	width: 80%;
}

.search-bar-with-icon a {
	position: relative;
	top: 4px;
}

/** Book Grid **/

.book-grid {
	margin-bottom: 20px;
}

.book-grid:last-child,
.book-grid.books-grid-slide {
	margin-bottom: 0px;
}

.books-grid-two-colums .book-grid {
	width: 48%;
}

.book-grid .book-img {
	height: 200px;
	margin-bottom: 5px;
}

.books-grid-slide .book-img {
	height: 200px;
	margin-bottom: 5px;
}

.book-grid .book-title {
	font-weight: 600;
	font-size: 13px;
}

.md .book-grid .book-title a {
	color: #111111;
}

.book-grid .book-author,
.book-list .book-author {
	font-size: 12px;
	color: #757575;
	font-weight: 600;
}

/** Genre **/

.md a.genre {
	border: 1px solid #efefef;
	padding: 10px;
	font-weight: 500;
	display: block;
	color: #111111;
	text-align: center;
}

.genres .row {
	margin-bottom: 16px;
}

.genres .row:last-child {
	margin-bottom: 0px;
}

/** Book List **/

.books-list .book-list {
	margin-bottom: 20px;
}

.books-list .book-list:last-child {
	margin-bottom: 0px;
}

.book-list .book-img {
	width: 100px;
	height: 150px;
	margin-right: 10px;
}

.book-list-small.book-list .book-img {
	width: 80px;
	height: 120px;
}

.md .book-list .book-title a {
	color: #111111;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 5px;
	display: block;
}

.book-list .book-description {
	color: #757575;
	margin-top: 10px;
	font-size: 13px;
}

.book-list .book-infos {
	width: 180px;
}

.book-list .book-rating {
	margin-top: 2px;
}

.book-list .book-rating span {
	font-size: 13px;
	color: #757575;
	font-weight: 500;
}

.book-list .book-rating i {
	font-size: 16px;
	color: #ff922b;
	position: relative;
	top: 3px;
}

.book-list .book-price {
	color: #2196f3;
	margin-top: 8px;
	font-weight: 600;
}

/*===============================================*/
/* 03. HOMEPAGE V2 						    	 */
/*===============================================*/

.page-cover {
	width: 100%;
	height: 400px;
	position: relative;
}

.page-cover img {
	position: absolute;
}

.page-cover-content {
	padding-top: 32px;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
}

.page-cover-content h1 {
	margin-top: 50px;
	color: #111111;
}

.page-cover-content p {
	font-size: 13px;
	color: #111111;
}

.page-cover-content button {
	width: 80%;
}

.book-list-2 {
	height: 150px;
}

.books-list-2 .row {
	margin-top: 8px;
}

.books-list-2 .row:first-child {
	margin-top: 8px;
}

.books-list-2 .row .col {
	padding-right: 8px;
}

.books-list-2 .row .col:last-child {
	padding-right: 0px;
}

.custom-tab {
	border-bottom: 1px solid #efefef;
	padding-bottom: 10px;
	margin-bottom: 16px;
}

.md .custom-tab  a {
	color: #757575;
	font-weight: 600;
	padding-right: 10px;
}

.md .custom-tab  a:last-child {
	padding-right: 0px;
}

.md .custom-tab  a.tab-link-active {
	color: #111111;
}

/*===============================================*/
/* 04. BOOKS	 						    	 */
/*===============================================*/

.display-style {
	position: relative;
	top: 3px;
}

.md .display-style a {
	color: #111111;
}

.md .display-style a.display-style-active {
	color: #2196f3;
}

/*===============================================*/
/* 05. BOOK DETAIL						    	 */
/*===============================================*/

.book-detail h1 {
	margin: 0px;
	padding: 0px;
}

.book-detail-header {
	margin-top: 20px;
}

.book-detail-header .book-img {
	width: 120px;
	height: 180px;
	margin-right: 10px;
}

.book-detail-header .book-infos {
	padding-top: 10px;
	width: 150px;
}

.book-detail-header .book-author,
.book-detail-header .book-series {
	color: #757575;
}

.book-detail-header .book-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.book-detail-header .book-rating {
	margin-top: 10px;
	margin-bottom: 10px;
}

.book-detail-header .book-rating span {
	font-size: 13px;
	color: #757575;
	font-weight: 500;
}

.book-detail-header .book-rating i {
	font-size: 16px;
	color: #ff922b;
	position: relative;
	top: 3px;
}

.review-list .item-title {
	font-weight: 700;
	color: #111111;
	font-size: 14px;
}

.review-list .item-media img {
	border-radius: 100%;
}

.review-list .item-after i {
	font-size: 18px;
	color: #ff922b;
}

.md .review-list .item-text {
	font-size: 13px;
	max-height: 45px;
	padding-top: 5px;
	line-height: 15px;
}

.book-prices {
	margin-bottom: 10px;
}

.new-book-price {
	font-size: 20px;
	font-weight: 700;
	padding-right: 15px;
}

.old-book-price {
	font-weight: 600;
	font-size: 16px;
	text-decoration: line-through;
}

/*===============================================*/
/* 06. CART		 						    	 */
/*===============================================*/

.books-list-cart .book-price {
	font-size: 16px;
}

.books-list-cart .stepper {
	margin-top: 15px;
	border: 2px solid #efefef;
	box-shadow: none;
}

.shipping-infos {
	list-style: none;
	color: #757575;
}

.shipping-infos li  {
	padding-bottom: 8px;
}

.shipping-infos li:last-child  {
	padding-bottom: 0px;
}

.shipping-infos li span {
	width: 50%;
	display: inline-block;
}

.shipping-infos .shipping-infos-footer {
	font-weight: 700;
	color: #111111;
}

/*===============================================*/
/* 07. BOOKSHELF 						    	 */
/*===============================================*/

.bookshelf {
	background: #efefef;
}

.add-bookshelf {
	border: 1px dashed #757575;
	width: 100%;
	height: 120px;
	text-align: center;
	line-height: 130px;
	display: block;
	background: #efefef;
}

.add-bookshelf i {
	font-size: 26px;
}

.md a.add-bookshelf {
	color: #757575;
}

.book-readpou {
	margin-top: 30px;
}

.book-grid .book-readpou {
	margin-top: 0px;
}

.book-readpou span {
	font-weight: 700;
	padding-bottom: 5px;
	display: block;
}

/*===============================================*/
/* 08. PROFILE	 						    	 */
/*===============================================*/

.profile {
	text-align: center;
	padding-top: 10px;
}

.profile img {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0px auto;
	border-radius: 100px;
}

.user-name {
	font-weight: 700;
	font-size: 17px;
	margin-top: 8px;
}

.user-work {
	color: #757575;
}

.user-stats {
	margin-top: 20px;
}

.user-stat span:first-child {
	font-weight: 700;
	display: block;
	font-size: 16px;
}

.user-stat span:last-child {
	font-size: 13px;
	color: #757575;
}

/*===============================================*/
/* 09. READING PAGE						    	 */
/*===============================================*/

.reading-infos p {
	margin-top: 32px;
	font-size: 13px;
}

.font-used {
	font-family: 'Libre Baskerville', serif;
	line-height: 1;
	text-align: center;
}

.md  a.font-used{
	color: #111111;
}

.font-used .font-uppercase {
	font-weight: 700;
	font-size: 50px;
}

.font-used .font-lowercase {
	font-weight: 700;
	font-size: 30px;
}

.font-name {
	color: #757575;
	font-weight: 400;
	display: block;
	line-height: 1.2;
}

.color {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	margin-right: 10px;
	display: block;
	border: 2px solid #ffffff;
}

.color:last-child {
	margin-right: 0px;
}

.color.active {
	border: 2px solid #2196f3;
}

.md .toolbar:not(.messagebar).color-transparent {
    background: transparent;
}

/*===============================================*/
/* 10. COVER	 						    	 */
/*===============================================*/

.cover-subtitle {
	text-align: center;
	text-transform: uppercase;
	color: #757575;
}

.cover-title {
	text-align: center;
}

/*===============================================*/
/* 11. PAGES LIST 						    	 */
/*===============================================*/

.item-media-icon {
	width: 55px;
	height: 55px;
	border-radius: 50px;
	position: relative;
}

.md .item-media-icon i.icon {
	position: absolute;
	font-size: 26px;
	left: 50%;
	margin-left: -13px;
	top: 50%;
	margin-top: -13px;
}

/*===============================================*/
/* 12. THEME DARK 						    	 */
/*===============================================*/

.md .theme-dark .search-bar:not(.search-bar-transparent) i,
.md .theme-dark .book-grid .book-title a,
.md .theme-dark a.genre,
.md .theme-dark .book-list .book-title a,
.md .theme-dark .custom-tab a.tab-link-active,
.md .theme-dark .display-style a,
.theme-dark .review-list .item-title,
.md .theme-dark .back-page .text-color-black,
.md .theme-dark .shipping-infos .shipping-infos-footer,
.md .theme-dark  a.font-used {
	color: rgba(255,255,255,.87)!important;
}

.md .theme-dark .display-style a.display-style-active {
    color: #2196f3!important;
}

.md .theme-dark .search-bar:not(.search-bar-transparent) input,
.md .theme-dark .search-bar:not(.search-bar-transparent) input::placeholder {
	color: #757575;
}

.md .theme-dark .search-bar:not(.search-bar-transparent) input,
.md .theme-dark .input-clear-button,
.theme-dark .bookshelf,
.md .theme-dark a.add-bookshelf,
.md .theme-dark .border:after {
	background: rgba(255,255,255,.08)!important;
}

.theme-dark .color {
	border-color: rgba(255,255,255,.08);
}

.theme-dark .color.active {
	border-color: #2196f3;
}

.md .theme-dark .search-bar-transparent input ,
.md .theme-dark .search-bar-transparent input::placeholder {
    color: #757575;
}

.md .theme-dark .search-bar-transparent .input-clear-button {
	background: rgba(0,0,0,.12)!important;
}

.md .theme-dark a.genre {
	border-color: rgba(255,255,255,.08);
}

.md .theme-dark .stepper.color-black .stepper-button-minus::before,
.md .theme-dark .stepper.color-black .stepper-button-minus::after {
	background: rgba(255,255,255,.87);
}

.md .theme-dark .stepper.color-black .stepper-input-wrap input {
	color: rgba(255,255,255,.87);
}

.md .theme-dark .stepper.color-black .stepper-button-plus::before,
.md .theme-dark .stepper.color-black .stepper-button-plus::after {
	background: rgba(255,255,255,.87);
}

.md .theme-dark .stepper-raised:not(.stepper-fill):not(.stepper-fill-md) .stepper-input-wrap,
.md .theme-dark .stepper-raised:not(.stepper-fill):not(.stepper-fill-md) .stepper-value {
    border-left-color: rgba(255,255,255,.08);
    border-right-color: rgba(255,255,255,.08);
}

.md .theme-dark .books-list-cart .stepper {
	border-color: rgba(255,255,255,.08);
}
